﻿<div class="comments">
        <div>
            <img src="https://www.gravatar.com/avatar/a4d8a4fdce8ce5e2b498122d3df71be1.jpg" style="float: left;">
            A comment
        </div>
        <div>
            <img src="https://www.gravatar.com/avatar/a4d8a4fdce8ce5e2b498122d3df71be1.jpg" style="float: left;">
            A comment
        </div>
</div>