﻿@model IEnumerable<Testing.Workshop.Mvc.CommentView>
<div class="comments">
    @foreach (var comment in Model)
    {
        <div>
            <img src="@comment.Avatar" style="float: left;"/>
            @comment.Text.Replace("\n", "<br/>")
        </div>
    }
</div>