﻿@using Testing.Workshop.Mvc
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@CurrentPage.GetGridHtml("content", "fanoe")

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Leave a comment
            </h3>
            @using (Html.BeginUmbracoForm<CommentsController>("PostComment", new { }, new { role = "form", @class = "form" }))
            {
                <div class="form-group">
                    <input type="text" class="form-control" name="Email" placeholder="Email" />
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="Text" rows="8" placeholder="Comment"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
            @Html.Action("Comments", "Comments")
        </div>
    </div>
</div>