﻿<div>
    <div ng-repeat="post in posts" class="row">
        <div class="post col-xs-10" ng-click="toggle(post)">{{post.name}}</div><div class="col-xs-2">{{post.unapproved.length}}</div>
        <div class="col-xs-12" ng-if="expanded(post)">
            <div class="row comment" ng-repeat="comment in post.unapproved">
                <div>From {{comment.email}}</div>
                <div>{{extract(comment.text)}}</div>
                <div>
                    <button type="button" class="btn btn-success approve" ng-click="approve(post, comment)">Approve</button>
                    <button type="button" class="btn btn-warning deny" ng-click="deny(post, comment)">Deny</button>
                </div>
            </div>
        </div>
    </div>
</div>